* {
    font-family: Arial, Verdana, sans-serif;
    color: #ec7600;
    text-align: center;
} 

body {
    width: 90%;
    margin: 0 auto;
    background-image: url(DSC06355.jpg);
    background-size:cover;
}

h1 {
    font-family: 'GidolinyaRegular';
    font-weight: bolder;
    font-style: normal;
}

#content {
    overflow: auto;
}

#nav, #feature, #footer {
    margin: 1%;
}

.column1 {
    background-color: #a83044;
}

.column2 {
    background-color: #20b5da;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}


.column3 {
    margin-right: 0%;
    background-color: #641f5e;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav, #footer {
    background-color: #5f3f3f;
    padding: 0.5em 0;
}

#feature, .article {
    height: 10em;
    margin-bottom: 1em;
}

#feature {
    background-image: url(DSC06232.jpg);
    background-color: #531b1b;
    background-size:contain;
    background-position: left;
    background-repeat:no-repeat;
}
