body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin: 0;
    background-image: url('./cotton-colorgrade-1.jpg');
}

header {
    text-align: center;
    background-color: #5d6ae2;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-family: 'GidolinyaRegular'
}

main {
    display: flex;
    border: 3px green solid;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.chessboard {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    width: 40%;
    background-size: cover;
    padding: 10px;
}

.box {
    padding-bottom: 100%;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.piece {
    position: absolute;
    width: 3%;
}

footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #5d6ae2;
    margin-top: 20px;
    padding: 20px;
}