/* keeps form confined to 50% of the screen to make it look even*/
#formWrap {
    width: 45%;
    float: right;
}

#contentLeft {
    float: left;
    width: 50%;
}

/* styles buttons and inputs */
.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    display:block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}


/* styles error message and required asterisk */
.error-message {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
}

.required {
    color: red;
    font-weight: bold;
}